<!DOCTYPE html>
<html lang="en">
<head>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>Liste des commentaires - Humanoid - </title>
</head>
<body>
    <div class="container">
      <div class="wrapper"></div> 
        <div class= nav>
          {{nav.top.render()}}
        </div>
      <h1 class="align-self-center">Liste de commentaires du testeur de l'api de modération Azure</h1>
      {%for entry in data%}
      <p>{{entry}}</p>
      {%endfor%}

      </div>
    </div>
</body>
</html>